@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    margin: 0;
    color: white;
    background-color: rgb(219, 219, 219);
}

.parallax-window {
    min-height: 65rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.logo-card{
    width: 30rem;
    height: 30rem;
}

.info-card{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.5rem;
}

.container-card{
    margin-top: 10rem;
}

.signup-btn{
    background-color: #f1c40f;
    padding: 5rem;
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
}

.signup-btn a{
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.signup-btn:hover{
    text-decoration: none;
    background-color: #cca91d;
}

.title-am{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}

.desc-am{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}

.desc{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

.tracks-card{
    background-color: #f1c40f;
    height: 20rem;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.intro-logo{
    background-color: #f1c40f;
    background-image: url(/assets/images/logo.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 10%;
    height: 17rem;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    z-index: -1;
    position: absolute !important;
    flex-direction: row-reverse;
    right: 25rem;
}

@media screen and (max-width:840px) {
    .tracks-card{
        margin-top: 2rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .logo-card{
        width: 22rem;
        height: 22rem;
    }
}