@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    margin: 0;
    color: white;
}

.parallax-window {
    min-height: 65rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.logo-card{
    width: 30rem;
    height: 30rem;
}

.info-card{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.5rem;
}

.container-card{
    margin-top: 10rem;
}