@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    margin: 0;
    color: white;
}

.parallax-window {
    min-height: 65rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.logo-card{
    width: 30rem;
    height: 30rem;
}

.info-card{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.5rem;
}

.container-card{
    margin-top: 10rem;
}

.signup-btn{
    background-color: #f1c40f;
    padding: 5rem;
    -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
}

.signup-btn a{
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.signup-btn:hover{
    text-decoration: none;
    background-color: #cca91d;
}